:root {
	--kalista-main-dark-bgcolor: #225144; 
	--kalista-main-text-color: #002410;
	--kalista-apps-fieldlabel-color : #106937;
}

/* latin-ext */
/* karla-italic-latin-ext.woff2 */
@font-face {
	font-family: 'Karla';
	font-style: italic;
	font-weight: 200;
	font-display: swap;
	src: url('../../index.php/public/assets/karla-italic-latin-ext.woff2') format('woff2');
	unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
	font-family: 'Karla';
	font-style: italic;
	font-weight: 400;
	font-display: swap;
	src: url('../../index.php/public/assets/karla-italic-latin-ext.woff2') format('woff2');
	unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
	font-family: 'Karla';
	font-style: italic;
	font-weight: 700;
	font-display: swap;
	src: url('../../index.php/public/assets/karla-italic-latin-ext.woff2') format('woff2');
	unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
	font-family: 'Karla';
	font-style: italic;
	font-weight: 900;
	font-display: swap;
	src: url('../../index.php/public/assets/karla-italic-latin-ext.woff2') format('woff2');
	unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}


/* latin */
/* karla-italic-latin.woff2 */
@font-face {
	font-family: 'Karla';
	font-style: italic;
	font-weight: 200;
	font-display: swap;
	src: url('../../index.php/public/assets/karla-italic-latin.woff2') format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
	font-family: 'Karla';
	font-style: italic;
	font-weight: 400;
	font-display: swap;
	src: url('../../index.php/public/assets/karla-italic-latin.woff2') format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
	font-family: 'Karla';
	font-style: italic;
	font-weight: 700;
	font-display: swap;
	src: url('../../index.php/public/assets/karla-italic-latin.woff2') format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
	font-family: 'Karla';
	font-style: italic;
	font-weight: 900;
	font-display: swap;
	src: url('../../index.php/public/assets/karla-italic-latin.woff2') format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


/* latin-ext */
/* karla-normal-latin-ext.woff2 */
@font-face {
	font-family: 'Karla';
	font-style: normal;
	font-weight: 200;
	font-display: swap;
	src: url('../../index.php/public/assets/karla-normal-latin-ext.woff2') format('woff2');
	unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
	font-family: 'Karla';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url('../../index.php/public/assets/karla-normal-latin-ext.woff2') format('woff2');
	unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
	font-family: 'Karla';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url('../../index.php/public/assets/karla-normal-latin-ext.woff2') format('woff2');
	unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
	font-family: 'Karla';
	font-style: normal;
	font-weight: 900;
	font-display: swap;
	src: url('../../index.php/public/assets/karla-normal-latin-ext.woff2') format('woff2');
	unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
/* karla-normal-latin.woff2 */
@font-face {
	font-family: 'Karla';
	font-style: normal;
	font-weight: 200;
	font-display: swap;
	src: url('../../index.php/public/assets/karla-normal-latin.woff2') format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
	font-family: 'Karla';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url('../../index.php/public/assets/karla-normal-latin.woff2') format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
	font-family: 'Karla';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url('../../index.php/public/assets/karla-normal-latin.woff2') format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
	font-family: 'Karla';
	font-style: normal;
	font-weight: 900;
	font-display: swap;
	src: url('../../index.php/public/assets/karla-normal-latin.woff2') format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* module.css */
* {
	font-family: "Karla";  
} 

body {
	color: var(----kalista-main-text-color);
	background: #efefef url('../../index.php/public/assets/bg-2.jpg') fixed ; 
	font-size: 12px;

}

A {
	color: var(----kalista-main-text-color);
	text-decoration: underline;
}

A:hover {
	color: var(--kalista-main-dark-bgcolor);
	text-decoration: underline;
}


.textbox-focused {
	border-color: var(----kalista-main-text-color);
	border-top-color: transparent;
	border-left-color: transparent;
	border-right-color: transparent;
	-moz-box-shadow: 0 0 3px 0 transparent;
	-webkit-box-shadow: 0 0 3px 0 transparent;
	box-shadow: 0 0 3px 0 transparent;
		  
  }
  
  
  .textbox {
	  border-top: 0px;
	  border-left: 0px;
	  border-right: 0px;
  }

  



.fgtable-head {
	border-bottom: 1px solid #e890b3 !important;
	color: var(----kalista-main-text-color);
	font-weight: bold;
	background-color: #ffde00ff;
	background: -webkit-linear-gradient(top,#ffde00ff 0, #efad0a 100%);
	background: -moz-linear-gradient(top,#ffde00ff 0,#efad0a 100%);
	background: -o-linear-gradient(top,#ffde00ff 0,#efad0a 100%);
	background: linear-gradient(to bottom,#ffde00ff 0,#efad0a 100%);	
}

.fgtable-head-drow {
	color: var(----kalista-main-text-color);
	border-bottom: 1px dashed var(----kalista-main-text-color);
}

.fgtable-head-drow:hover {
	background-color: #d0d0d0ff;
	cursor: pointer;
}




.fgtable-head-alt1 {
	border-bottom: 1px solid #888888ff !important;
	color: var(----kalista-main-text-color);
	font-weight: bold;
	background-color: #d0d0d0ff;
	background: -webkit-linear-gradient(top,#d0d0d0ff 0, #a9a9a9ff 100%);
	background: -moz-linear-gradient(top,#d0d0d0ff 0,#a9a9a9ff 100%);
	background: -o-linear-gradient(top,#d0d0d0ff 0,#a9a9a9ff 100%);
	background: linear-gradient(to bottom,#d0d0d0ff 0,#a9a9a9ff 100%);	
}

.fgtable-head-alt2 {
	border-bottom: 1px solid var(--kalista-main-dark-bgcolor) !important;
	color: var(----kalista-main-text-color);
	font-weight: bold;
	background-color: #f3d0e2ff;
	background: -webkit-linear-gradient(top,#f3d0e2ff 0, #e890b3ff 100%);
	background: -moz-linear-gradient(top,#f3d0e2ff 0,#e890b3ff 100%);
	background: -o-linear-gradient(top,#f3d0e2ff 0,#e890b3ff 100%);
	background: linear-gradient(to bottom,#f3d0e2ff 0,#e890b3ff 100%);	
}



.c8,.c8:hover,.c8>.panel-header{
	color: #fff;
	border-color: #ff6b35;
	background: #ff6b35;
	background: -webkit-linear-gradient(top,#ff922a 0, #ff6b35 100%);
	background: -moz-linear-gradient(top,#ff922a 0,#ff6b35 100%);
	background: -o-linear-gradient(top,#ff922a 0,#ff6b35 100%);
	background: linear-gradient(to bottom,#ff922a 0,#ff6b35 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff922a,endColorstr=#ff6b35,GradientType=0);
}
a.c8:hover{
	background: #ff922a;
	filter: none;
}
.c8>.panel-body{
	border-color: #ff6b35;
}
.c8>.dialog-toolbar,.c8>.dialog-button{
	border-left-color: #ff6b35;
	border-right-color: #ff6b35;
}
.c8>.dialog-button{
	border-bottom-color: #ff6b35;
}



.container-bar {
	background-color:var(--kalista-main-dark-bgcolor) !important;
	color: #ebe8f5 !important
}


.buttonprogramicon {
	background-color: var(--kalista-main-dark-bgcolor);
}



.main-bgmenu {
	background: #efefef url('../../index.php/public/assets/bg-2.jpg') fixed ; 
	/* background: linear-gradient(90deg, rgba(127,117,128,1) 0%, rgba(188,159,163,1) 69%, rgba(223,201,204,1) 100%); */
}



.icon-noselect {
	-webkit-box-shadow: 1px 1px 2px 0px rgb(87, 87, 87);
	-moz-box-shadow: 1px 1px 2px 0px rgb(87, 87, 87);
	box-shadow: 1px 1px 2px 0px  rgb(87, 87, 87);
	border-top: 1px solid #fff;
	margin-right: 20px;
	margin-bottom: 20px;
	background-color: var(--kalista-main-dark-bgcolor) !important;
}

.menubutton {
	font-family: Tahoma;
	background-color: var(--kalista-main-dark-bgcolor) !important;
}


.form_label_col {
	font-weight: 900;
	color: var(--kalista-apps-fieldlabel-color);
}

@media only screen and (max-width: 768px) {
	.icon-noselect {
		margin-right: 10px;
		margin-bottom: 10px;
	}

	.form_row {
		margin-top: 20px;
	}

	.form_input_col .textbox {
		width: 100% !important;
	}
	
}




/* togle edit */
.checkbox-checked {
	background: #dbcae2 !important
}

.input-modeedit {
	background: #dbcae2;
}

.input-modeview {
	background: rgb(255, 255, 255);
	/* opacity: 0.3; */
} 










.fgta-page-title {
	color: var(----kalista-main-text-color);
	font-size: 24px !important;
	font-weight: bold;
	height: 30px;
	display: flex;
	align-items: center;
	margin-top: 10px;
}

@media only screen and (max-width: 768px) {
	.fgta-page-title {
		font-size: 18px !important;
		height: 24px;
	}
}

.fgta-page-title > div {
	color: var(----kalista-main-text-color);
}

.fgta-page-title  > div::after  {
	content: "";
	font-weight: normal;
	margin-left: 15px;
	/* border-left: 1px solid #7d4891; */
}

.fgta-page-title span.l-btn-text {
	font-size: 11px;

}





.fgta-recordstatus-button {
	margin-top: 20px !important;
	margin-bottom: 50px !important;
	font-weight: bold;
}


.fgta-recordstatus-button[name="fgta-record-status"]  {
	padding-left: 5px !important;
	padding-right: 8px !important;
}

.fgta-recordstatus-button[name="fgta-record-log"]  {
	padding-left: 8px !important;
}


.fgta-recordstatus-button > a {
	color: #57495e !important;
}

.input-modeedit-force {
    background: #dbcae2 !important;
}

#sidenav-btn_search {
	background-color:var(--kalista-main-dark-bgcolor) !important;
	color: #fff !important;

}

#btn_menu_open {
	filter: invert(1);
}

#btn_menu_open:hover {
	background-color: rgba(255, 255, 255, .5);
}

#btn_menu_open:active {
	background-color: rgba(255, 255, 255, .2);
} 

#btn_apps_back {
	filter: invert(1);
}

#btn_apps_back:hover {
	background-color: rgba(255, 255, 255, .5);
}

#btn_apps_back:active {
	background-color: rgba(255, 255, 255, .2);
} 


.fgta-button-save {
	position: fixed;
	top: 15px;
	right: 15px;
	animation: 5s muncul;
	animation-fill-mode: forwards;
	width: 80px !important;
	box-shadow: 3px 3px 5px #999;
}

.fgta-button-edit {
	position: fixed;
	top: 15px;
	right: 100px;
	animation: 5s muncul;
	animation-fill-mode: forwards;
	width: 80px !important;
	box-shadow: 1px 1px 5px #999;
}

@keyframes muncul {
	100% { z-index: 12000; }
}



.detilgrid-text {
	font-weight: bold;
}